.missedStories {
  padding: 60px 0;

  @media screen and (max-width: 767px) {
    padding: 40px 0;
  }

  .title {
    margin-bottom: -32px;

    h2 {
      color: rgba(0, 11, 25, 1);
      font-size: 28px;
      font-weight: 800;
      margin-bottom: 0;

      @media screen and (max-width: 767px) {
        font-size: 22px;
      }
    }
  }

  .swiper_container {
    height: auto !important;
    padding: 60px 0 0;
    overflow: hidden;

    .swiper-slide {
      height: 100% !important;
      border-radius: 12px;

      .image-wrapper {
        position: relative;

        .main-img {
          width: 100%;
          height: 315px;
          object-fit: cover;
          border-radius: 12px;

          @media screen and (max-width: 600px) {
            height: 400px;
          }
        }

        .pagination-wrapper {
          position: absolute;
          top: 10px;
          /* Adjust based on design */
          left: 0;
          width: 100%;
          display: flex;
          justify-content: space-between;
          padding: 0 5px;
          gap: 5px;

          .pagination-dot {
            width: 15px;
            height: 3px;
            border-radius: 10px;
            background: rgba(255, 255, 255, 0.3);
            transition: width 0.3s ease;

            &.active {
              background: linear-gradient(
                266.66deg,
                #5cb170 -7.81%,
                #d6de6d 118.14%
              );
            }
          }
        }

        .icon-title {
          display: flex;
          align-items: center;
          margin-top: 10px;

          img {
            width: 24px;
            height: 24px;
            margin-right: 8px;
          }

          .slide-title {
            font-weight: 500;
            color: rgba(0, 11, 25, 1);
            font-size: 16px;
            margin: 0;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            font-weight: 800;
          }
        }
      }
    }

    .swiper-button-next,
    .swiper-button-prev {
      position: absolute;
      right: 0;
      top: 0;
      left: unset;
      top: 25px;
      font-weight: bold;
      width: 32px;
      height: 32px;
      display: flex;
      align-items: center;
      justify-content: center;
      background: linear-gradient(266.66deg, #5cb170 -7.81%, #d6de6d 118.14%);
      border-radius: 100px;
      border: 1px solid #d6de6d;
    }

    .swiper-button-next:after,
    .swiper-button-prev:after {
      font-size: 10px;
      color: #fff;
    }

    .swiper-button-prev {
      transform: translateX(-40px);
      background: #f5f9ff;

      &::after {
        color: #5cb170;
      }
    }
  }
}
