.headerInput {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  min-width: 550px;
  padding: 3px 3px 3px 15px;
  border-radius: 100px;
  background: #446b74;
  position: relative;
  z-index: 0;
  @media screen and (max-width: 767px) {
    min-width: 100%;
  }
  &::after {
    position: absolute;
    top: -2px;
    bottom: -2px;
    left: -2px;
    right: -2px;
    content: '';
    z-index: -1;
    border-radius: 100px;
    background: linear-gradient(
      156.52deg,
      rgba(255, 255, 255, 0.25) 2.12%,
      rgba(255, 255, 255, 0.02) 57.18%,
      rgba(255, 255, 255, 0.02) 65.84%,
      rgba(255, 255, 255, 0.1) 93.02%
    );
  }
  input {
    width: 100%;
    height: 100%;
    padding: 10px;
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 16px;
    color: rgba(255, 255, 255, 1);
    &::placeholder {
      color: rgba(255, 255, 255, 1);
    }
  }
  button {
    padding: 12px 20px;
    background: linear-gradient(266.66deg, #5cb170 -7.81%, #d6de6d 118.14%);
    border-radius: 100px;
    color: #fff;
    font-size: 16px;
    border-radius: 100px;
    transition: all 0.3s;
    position: relative;
    &::after {
      position: absolute;
      top: -1.5px;
      bottom: -1.5px;
      left: -1.5px;
      right: -1.5px;
      content: '';
      z-index: -1;
      border-radius: 100px;
      background: linear-gradient(266.66deg, #5cb170 -7.81%, #d6de6d 118.14%);
    }
    &:hover {
      background: #0c343d;
      color: #fff;
    }
  }
}
