@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .glass-border {
    @apply pointer-events-none absolute inset-0 z-10 p-px.62;
  }

  .glass-border:before {
    @apply absolute inset-0 -z-10 bg-glass-border p-px.62 content-[''];

    mask:
      linear-gradient(#fff 0 0) content-box,
      linear-gradient(#fff 0 0);
    mask-composite: exclude;
    -webkit-mask:
      linear-gradient(#fff 0 0) content-box,
      linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
  }
}
