.exploreDeals {
  padding: 0 0 60px;

  @media screen and (max-width: 767px) {
    padding: 0px 0 40px;
  }

  .title {
    margin-bottom: -32px;

    h2 {
      color: rgba(0, 11, 25, 1);
      font-size: 28px;
      font-weight: 800;
      margin-bottom: 0;

      @media screen and (max-width: 767px) {
        font-size: 22px;
      }
    }
  }

  .exploreDealsSwiper {
    height: auto !important;
    padding: 60px 0 10px;
    overflow: hidden;

    .swiper-slide {
      height: 100% !important;
      border-radius: 12px;

      .image-wrapper {
        position: relative;

        .banner {
          position: relative;

          .main-img {
            width: 100%;
            height: 165px;
            object-fit: cover;
            border-radius: 12px;

            @media screen and (max-width: 600px) {
              height: auto;
            }
          }

          .heart {
            position: absolute;
            top: 10px;
            right: 10px;
            cursor: pointer;

            &:hover {
              filter: drop-shadow(2px 4px 6px black);
            }
          }
        }

        .slide-title {
          font-size: 16px;
          font-weight: 600;
          margin-top: 10px;
          color: rgba(0, 11, 25, 1);
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;
        }

        .service {
          display: flex;
          gap: 15px;
          margin-top: 5px;

          span {
            font-size: 14px;
            color: rgba(135, 142, 151, 1);
            position: relative;

            &::after {
              content: '';
              position: absolute;
              top: 50%;
              right: -9px;
              transform: translateY(-50%);
              width: 4px;
              height: 4px;
              border-radius: 100px;
              background-color: rgba(135, 142, 151, 1);
            }

            &:last-child {
              &::after {
                display: none;
              }
            }
          }
        }

        .info {
          display: flex;
          gap: 15px;
          margin-top: 15px;

          span {
            font-size: 14px;
            color: rgba(135, 142, 151, 1);
            position: relative;

            &::after {
              content: '';
              position: absolute;
              top: 50%;
              right: -9px;
              transform: translateY(-50%);
              width: 4px;
              height: 4px;
              border-radius: 100px;
              background-color: rgba(135, 142, 151, 1);
            }

            &:last-child {
              &::after {
                display: none;
              }
            }
          }

          .rating {
            color: rgba(244, 176, 3, 1);
            display: flex;
            align-items: center;
            gap: 5px;

            img {
              width: 12px;
              height: 12px;
            }
          }

          .price {
            color: rgba(0, 11, 25, 1);
          }

          .location {
            color: rgba(0, 11, 25, 1);
          }
        }
      }
    }

    .swiper-button-next,
    .swiper-button-prev {
      position: absolute;
      right: 0;
      top: 0;
      left: unset;
      top: 25px;
      font-weight: bold;
      width: 32px;
      height: 32px;
      display: flex;
      align-items: center;
      justify-content: center;
      background: linear-gradient(266.66deg, #5cb170 -7.81%, #d6de6d 118.14%);
      border-radius: 100px;
      border: 1px solid #d6de6d;
    }

    .swiper-button-next:after,
    .swiper-button-prev:after {
      font-size: 10px;
      color: #fff;
    }

    .swiper-button-prev {
      transform: translateX(-40px);
      background: #f5f9ff;

      &::after {
        color: #5cb170;
      }
    }
  }
}
