.reviews{
    h3{
        font-size: 16px;
        font-weight: 700;
        color: rgba(0, 11, 25, 1);
        margin-bottom: 25px;
    }
    .block{
        display: flex;
        gap: 15px;
        margin-bottom: 32px;
        &:last-child{
            margin-bottom: 0;
        }
        .user{
            min-width: 40px;
            img{
                width: 40px;
                height: 40px;
                border-radius: 100px;
            }
        }
        .review-info{
            h4{
                font-size: 16px;
                font-weight: 700;
                color: rgba(0, 11, 25, 1);
                margin-bottom: 5px;
                display: flex;
                align-items: center;
                img{
                    width: 22px;
                    height: 22px;
                    margin-left: 10px;
                }
            }
            p{
                font-size: 16px;
                color: rgba(0, 11, 25, 1);
                margin-bottom: 5px;
                line-height: 1.1;
            }
            .info {
                display: flex;
                gap: 20px;
                margin-top: 10px;

                span {
                    font-size: 14px;
                    color: rgba(135, 142, 151, 1);
                    position: relative;

                    &::after {
                        content: "";
                        position: absolute;
                        top: 50%;
                        right: -12px;
                        transform: translateY(-50%);
                        width: 4px;
                        height: 4px;
                        border-radius: 100px;
                        background-color: rgba(135, 142, 151, 1);
                    }

                    &:last-child {
                        &::after {
                            display: none;
                        }
                    }
                }

                .rating {
                    color: rgba(244, 176, 3, 1);
                    display: flex;
                    align-items: center;
                    gap: 5px;
                    span{
                        color: rgba(135, 142, 151, 1);
                    }
                    img {
                        width: 12px;
                        height: 12px;
                    }
                }

                .minute {
                    color: rgba(135, 142, 151, 1);
                }
            }
        }
    }
}