.social-icons-container {
    position: relative;
    display: flex;
    .dropdown {
      position: relative;
      display: inline-block;
  
      .dropdown-toggle {
        background: #446b74;
        border: none;
        padding: 5px;
        border-radius: 100px;
        cursor: pointer;
        margin: 0 5px;
        position: relative;
        transition: all 0.3s ease;
        &.active-dropdown{
          &::before{
            background: linear-gradient(266.66deg, #5CB170 -7.81%, #D6DE6D 118.14%);
        }
        svg {
          path{
              fill: url(#paint0_linear_2_1028);
          }
        }
        }
        &::before{
            position: absolute;
            top: -2px;
            bottom: -2px;
            left: -2px;
            right: -2px;
            content: "";
            z-index: -1;
            border-radius: 100px;
            background: linear-gradient(156.52deg, rgba(255, 255, 255, 0.25) 2.12%, rgba(255, 255, 255, 0.02) 57.18%, rgba(255, 255, 255, 0.02) 65.84%, rgba(255, 255, 255, 0.1) 93.02%);
        }
        &::after{
            display: none;
        }
        svg {
          transition: transform 0.3s ease;
          width: 25px;
          height: 25px;
          @media screen and (max-width: 1023px) {
            width: 20px;
            height: 20px;
            
          }
          path{
                fill: white;
          }
        }
        &:hover {
            &::before{
                background: linear-gradient(266.66deg, #5CB170 -7.81%, #D6DE6D 118.14%);
            }
          svg {
            path{
                fill: url(#paint0_linear_2_1028);
            }
          }
        }
      }
      .user{
        display: flex;
        align-items: center;
        gap: 10px;
        position: relative;
        margin-left: 10px;
        padding-left: 15px;
        &::after{
          content: "";
            position: absolute;
           top: 50%;
            left: 0px;
            transform: translateY(-50%);
            width: 2px;
            height: 20px;
            border-radius: 100px;
            background-color: rgba(18, 76, 89, 1);
        }
        p{
          color: white;
          font-size: 16px;
          margin: 0;
          @media screen and (max-width: 1023px) {
            display: none;
          }
        }
        .logo{
          width: 32px;
          height: 32px;
          border-radius: 100px;
        }
      }
  
      .dropdown-menu {
        position: absolute;
        display: block;
        top: 100%;
        right: 0;
        transform: translateY(10px);
        background-color: #446b74;
        border: 2px solid rgba(255, 255, 255, 0.25);
        border-radius: 10px;
        list-style-type: none;
        padding: 5px 0;
        margin: 0;
        width: 100%;
        z-index: 1000;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        @media screen and (max-width: 600px) {
          right: -55px;
        }
        .dropdown-item {
          display: block;
          padding: 10px 15px;
          cursor: pointer;
          &:active {
            background: none;
          }
          &:hover {
            background: none;
          }
          a{
            color: white;
            font-size: 16px;
            text-decoration: none;
          }
        }
        &.notification{
          min-width: 450px;
          right: -115px;
          @media screen and (max-width: 600px) {
            min-width: 300px;
          }
          .dropdown-item{
            display: inline-block;
            padding: 10px 15px;
            cursor: pointer;
            &:active{
              background: none;
            }
            &:hover{
              background: none;
            }
            
            a{
              .notificationWrap{
                display: flex;
                align-items: flex-start;
                gap: 10px;
                &.active{
                  position: relative;
                  &::before{
                    content: "";
                    position: absolute;
                    top: 35%;
                    right: 0;
                    transform: translateY(-50%);
                    width: 10px;
                    height: 10px;
                    border-radius: 100px;
                    background: linear-gradient(266.66deg, #5CB170 -7.81%, #D6DE6D 118.14%);
                  }
                }
                .logoWrap{
                  position: relative;
                  .logo{
                    z-index: 0;
                    position: relative;
                    &.noBorder{
                      &::before{
                       background: rgba(219, 234, 255, 0.5);
                      }
                    }
                    &::before{
                      position: absolute;
                      top: -2px;
                      bottom: -2px;
                      left: -2px;
                      right: -2px;
                      content: "";
                      z-index: -1;
                      border-radius: 100px;
                      background: linear-gradient(266.66deg, #5CB170 -7.81%, #D6DE6D 118.14%);
                    }
                   img{
                    width: 40px;
                    height: 40px;
                   }
                  }
                  .mark{
                    width: 20px;
                    height: 20px;
                    background: #3D656E;
                    object-fit: none;
                    border-radius: 100px;
                    position: absolute;
                    bottom: -4px;
                    right: -4px;
                  }
                }
                .content{
                  width: 350px;
                  white-space: break-spaces;
                  display: flex;
                  flex-direction: column;
                  gap: 5px;
                  @media screen and (max-width: 600px) {
                    width: 200px;
                  }
                  p{
                    color: rgba(255, 255, 255, 1);
                    font-size: 14px;
                    line-height: 20px;
                    b{
                      font-weight: 700;
                    }
                  }
                  .time{
                    opacity: 0.7;
                  }
                }
              }
              .seeAll{
                text-align: center;
                border-top: 1px solid rgba(255, 255, 255, 0.25);
                p{
                  padding: 20px 0 10px;
                color: rgba(255, 255, 255, 1);
                font-size: 16px;
                text-decoration: none;
                }
              }
            }
          }
        }
        &.userInfo{
          padding: 5px 10px;
          right: 0;
          @media screen and (max-width: 1023px) {
           right: -38px;
          }
          .dropdown-item{
            padding: 10px 5px;
            &.borderTop{
              border-top: 1px solid rgba(255, 255, 255, 0.25);
            }
          }
          .language,a{
            display: flex;
            align-items: center;
            gap: 10px;
            p{
              color: white;
              font-size: 16px;
              margin: 0;
            }
            
          }
        }
      }
    }
  }
  